body {
  background: #003543;
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: white;
}

.container {
  width: 350px;
  background: #024558;
  padding: 25px;
  margin: 70px auto;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 24px;
}

input {
  width: 100%;
  padding: 12px;
  border: none;
  margin-top: 12px;
  border-radius: 6px;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  background: #F8D0A4;
  border: none;
  margin-top: 18px;
  color: #003543;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #f3c18d;
}

.google {
  background: white;
  color: black;
}

#error-message {
  background: #ff4444;
  padding: 10px;
  border-radius: 6px;
  margin-top: 10px;
  display: none;
}
